
@font-face {
    font-family:"Karrik";
    src:url("Karrik-Regular.woff2") format("woff2"),url("Karrik-Regular.woff") format("woff"),url("Karrik-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        